<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virvx.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name=".StateHelper"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".VirxAppsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".VirxChooseAccount"
            android:label="Choose Account"
            ></activity>
        
        <activity 
            android:name=".VirxAddAccounts"
            android:label="Add Accounts"
            ></activity>
        
        <activity 
            android:name=".VirxCalculator"
            android:label="Code OTP Generator"
            ></activity>
        
        
    </application>

</manifest>